@{
    ViewData["Title"] = "Home Page";
}


<br />
<br />
<button type="submit" class="purpleJP">
    @Html.ActionLink("Start Export processen", "StartExport", "Home")
</button>

<br />
<br />
<button type="submit" class="purpleJP">
    @Html.ActionLink("Klanten", "Index", "Client")
</button>

<br />
<br />
<button type="submit" class="purpleJP">
    @Html.ActionLink("Facturen", "Index", "Invoice")
</button>



